

<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="goHome()">
        <ion-icon slot="icon-only" name="home-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>My Favourites</ion-title>
  </ion-toolbar>
</ion-header>

 <ion-content class="ion-padding">
    
  <div *ngIf="favorites.length === 0" style="text-align: center; margin-top: 50px;"> 
    <ion-icon name="heart" color="medium" style="font-size: 80px; opacity: 0.3;"></ion-icon>
    <h3 style="color: var(--ion-color-medium);">No favorites yet!</h3>
    <ion-button fill="outline" (click)="goHome()">Browse Movies</ion-button>
  </div>

<ion-card *ngFor="let item of favorites" >

  <img [src]="getImage(item.poster_path || item.profile_path)" />
  
  <ion-card-header>
    <ion-card-title>
      {{ item.title || item.name }}
      <p *ngIf="item.type === 'movie'">Movie</p>
    <p *ngIf="item.type === 'person'">Actor</p>
      
    </ion-card-title>
  </ion-card-header>

  <ion-card-header>
    <ion-card-content>
      <!-- <ion-button expand="primary" fill="solid" [routerLink]="['/movie-details', item.id]">Details</ion-button> -->
      <ion-button 
      expand="block" 
      fill="solid" 
      *ngIf="item.type === 'movie'" 
      [routerLink]="['/movie-details', item.id]">
      Movie Details
    </ion-button>
    
    <ion-button 
      expand="block" 
      fill="solid" 
      *ngIf="item.type === 'person'" 
      [routerLink]="['/details', item.id]">
      Actor Details
    </ion-button>
    </ion-card-content>
  </ion-card-header>

  

  <ion-button color="danger" (click)="removeFromFavorites(item)">
    Remove From Favourites
    <ion-icon slot="start" name="trash-outline"></ion-icon>
  </ion-button>

</ion-card>