<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      G00473528
    </ion-title>
    <ion-button routerLink="/favourites" slot="end" color="primary"><ion-icon slot="icon-only" name="heart-outline" ></ion-icon></ion-button>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
 <ion-input [(ngModel)]="keyword" placeholder="Search movies..." clearInput="true"></ion-input>
 <ion-button expand="block"  (click)="openMovies()">Search</ion-button>
 <h2 style="margin-top: 20px;">Today's Trending Movies</h2>
 
  <ion-card *ngFor="let movie of movieInfo" [routerLink]="['/movie-details',movie.id]">
  
    <img *ngIf="movie.poster_path" [src]="posterBaseUrl + movie.poster_path" />
    
    
      <ion-card-title>{{ movie.title }}</ion-card-title>
      <ion-card-content>{{movie.overview}}</ion-card-content>
    
  </ion-card>
</ion-content>
