
<ion-header>
  <ion-toolbar>
    <!--Back to Home -->
    <ion-buttons slot="start">
      <ion-button (click)="openHomePage()">
        <ion-icon slot="icon-only" name="home-outline"></ion-icon>
      </ion-button>
    </ion-buttons>

    <ion-title>Movie Details</ion-title>

    <!-- Add/Remove - View Favourites List -->
    <ion-buttons slot="end">
      <!-- Favourite Movie Button -->
      <ion-button *ngIf="!isMovieFavorite()" (click)="addMovieToFavorites()" color="dark">
        Add Movie To Favourites
        <ion-icon slot="start" name="heart-outline"></ion-icon>
      </ion-button>
      
      <ion-button *ngIf="isMovieFavorite()" (click)="removeMovieFromFavorites()" color="danger">
        Remove From Favourites
        <ion-icon slot="start" name="trash-outline"></ion-icon>
      </ion-button>

      <!-- Favourites Page -->
      <ion-button routerLink="/favourites">
        <ion-icon slot="icon-only" name="list-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding" *ngIf="movie">
 
  <h2>{{ movie.title }}</h2>
  <p>{{ movie.overview }}</p>

  <h3>Top Cast</h3>
  <ion-list>
    <ion-item *ngFor="let actor of cast" [routerLink]="['/details', actor.id]">
      
      <ion-label>
        <h2>{{ actor.name }}</h2>
        <p>as {{ actor.character }}</p>
        <img *ngIf="actor.profile_path" [src]="posterBaseUrl + actor.profile_path" />
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>