<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      
    </ion-buttons>
    <ion-title>Movie Details</ion-title>
    <ion-button (click)="openHomePage()">Back to HOME PAGE<ion-icon name="home-outline"></ion-icon></ion-button>
    <ion-button routerLink="/favorites">Add to Favorite<ion-icon name="heart"></ion-icon></ion-button>
    <ion-buttons slot="end">
      
    </ion-buttons>
  </ion-toolbar>
</ion-header> 

<ion-content class="ion-padding" *ngIf="movie">
  <h1>{{ movie.title }}</h1>
 
  <p>{{ movie.overview }}</p>

  <h3>Top Cast</h3>
  <ion-list>
    <ion-item *ngFor="let actor of cast">
      <ion-label>
        <h2>{{ actor.name }}</h2>
        <p>as {{ actor.character }}</p>
        <img [src]="posterBaseUrl + actor.profile_path" />
      </ion-label>
      <!-- Add to Favourites Button -->
      <!-- <div *ngIf="!isFavoriteActor(actor)">add to favorite</div> -->
      <!-- <div *ngIf="isFavoriteActor(actor)">remove favorite</div> -->
  <ion-button *ngIf="!isFavoriteActor(actor)" expand="block" color="primary" (click)="addToFavorites(actor)">
     <!-- <ion-icon slot="start" name="heart-outline"></ion-icon> -->
    Add To Favourites
  </ion-button>
  
  <!-- If ALREADY a favorite, show Remove button -->
<ion-button *ngIf="isFavoriteActor(actor)" expand="block" color="danger" (click)="removeFromFavorites(actor)">
    <!-- <ion-icon slot="start" name="trash-outline"></ion-icon> -->
    Remove From Favourites
  </ion-button>
    </ion-item>
  </ion-list>  
</ion-content>